<div id="<%= dom_id filme %>">
  <p>
    <strong>Nome:</strong>
    <%= filme.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= filme.descricao %>
  </p>

  <p>
    <strong>Estrela:</strong>
    <%= filme.estrela %>
  </p>

  <p>
    <strong>Ano lancamento:</strong>
    <%= filme.ano_lancamento %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= filme.duracao %>
  </p>

</div>
