<%= form_with(model: filme) do |form| %>
  <% if filme.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(filme.errors.count, "error") %> prohibited this filme from being saved:</h2>

      <ul>
        <% filme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :estrela, style: "display: block" %>
    <%= form.number_field :estrela %>
  </div>

  <div>
    <%= form.label :ano_lancamento, style: "display: block" %>
    <%= form.text_field :ano_lancamento %>
  </div>

  <div>
    <%= form.label :duracao, style: "display: block" %>
    <%= form.text_field :duracao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
